body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#mm{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: black;
  border-radius: 10px;
padding: 10px;
margin-bottom: 25px;
width: fit-content;
}
